.header{
    background-color: peachpuff;
    display: flex;
    justify-content: space-between;
    color: navy;
    padding:10px;
}

body{
    margin:0;
    padding:0;
    
}

.header ul{
    display: flex;
    list-style-type: none;
    width: 400px;
    margin: auto;
    justify-content: space-around;
    
}

.header ul li{
    padding: 10px;

}

.header link h2{
    margin: 0;
}

.header .link{
    text-decoration: none;
    font-size: 20px;
}

.college .link{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}