.book{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
}

.book-image{
    flex: 0 0 100px;
    margin-right: 20px;

}

.book-image img{
    display: block;
    max-width: 100px;
    height: 150px;
    width: 150px;
}

.book-info{
    flex:1;
}

.book-author{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

.book-price{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

button{
    background-color: gainsboro;
    color: black;
    border-color: gray;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    outline: none;
}
